@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: "Popins", sans-serif;
}
.img{
max-width: 100%;    
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background:url('132.jpeg') no-repeat;
background-size: cover;
background-position: center;
backdrop-filter:blur(20px);
box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.contacts{
padding: 2rem 9%;
}    
.contacts .heading{
text-align: center;
margin-bottom: 2rem;
color: black;
font-size: calc(25px + (70 - 25)) * ((100vw - 300px)) / (((1600 - 300)));
}
    
.contacts .heading span{
color: greenyellow;
}

.contacts .row{
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 1.5;
}
    
.contacts .row .img{
flex: 1 1 40rem;
}
    
.contacts .row form{
flex: 1 1 40rem;
}
    
.contacts .row form .box{
width: 100%;
margin: 1rem 0rem 2rem;
border-radius: 0.5rem;
padding: 0.8rem;
}
    
.contacts .row form span{
color: azure;
font-size: calc(12px + (16 - 12)) * ((100vw - 300px)) / (((1600 - 300)));
}

.addfile{
display: block;    
position: absolute;
}

.contacts .row form .gender{
margin: 1rem 0rem 2rem; 
}
    
.contacts .row form .gender label{
margin-left: 0.2rem;
font-size: 1.6rem;
color: azure;
cursor: pointer;
}
    
.contacts .row form .gender #famele{
margin-left: 2rem;
}
    
.contacts .row form .gender input{
appearance: none;
width: 1.5rem;
height: 1.5rem;
background: azure;
cursor: pointer;
transition:0.35;
}
    
.contacts .row form .gender input:checked{
background-color: greenyellow;
border-radius: 50%;
}
    
.contacts .row form .gender input #female:checked ~ label[for=female]{
color: greenyellow;
}
    
.contacts .row form .gender input #male:checked ~ label[for=male]{
color: greenyellow;
}
    
.btn{
padding: 1rem 3rem;
border-radius: 1.5rem;
box-shadow: 0.5rem 1rem rgba(0,0,0,.7);
font-weight: 800;
cursor: pointer;
transition: 0.3s;
}
    
.btn:hover{
background: greenyellow;
color: white;
}