.html{
box-sizing: border-box;    
}

*,
*::after,
*::before{
box-sizing: inherit;
}

a{
color: inherit;
text-decoration: none;
}

.ul{
list-style-type: none;

}

.container{
max-width: 1200px;
padding:0 10px;
margin: 0 auto;
}

.body{
font-family: "Inter", sans-serif;
font-weight: 400; 
font-size: 14px;
line-height: 1.4;
color: #1b1b1b;
}

.header{
margin-bottom: 90px;
background-color: greenyellow;
}

.header__inner{
display: flex;
justify-content: space-between;
padding-top: 30px;
}

.header__title{
font-family: "Playfair Display", serif;
font-weight: 400;
text-transform: uppercase;
margin-left: auto;
}

.menu{
margin-left: 130px;
margin-right: 180px;
}

.menu__item{
font-size: 12px;
margin-bottom: 10px;
text-transform: uppercase;
}

.user_nav{
display: flex;
gap: 0 20px;
}

.top{
margin-bottom: 100px;
}

.top-slide{
min-height: 700px;
background-repeat: no-repeat;
background-size: cover;
background-position: top center;

}

.top-slider__inner{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10px;
}

.top-slide__content{
flex-basis: 183px;
margin-top: -88px;
}

.top-slide__title{
font-family: "Playfair Display", serif;
font-weight: 400;
text-transform: uppercase;
font-size: 70px;
line-height: 1.3;
}

.top-slide__text{
margin-bottom: 20px;
}

.top-slide__btn{
margin-left: auto;
}

.button{
color: black;
text-transform: uppercase;
font-weight: 700;
padding: 21px 55px;
border: 1px solid greenyellow;
display: inline-block;
transition: all .3s ease;
}

.button:hover{
color: black;
background-color:greenyellow ;
}

.about{
margin-bottom: 150px;
overflow: hidden;
}

.about__inner{
padding-left: 200px;
}

.about__title{
font-family: "Playfair Display", serif;
font-weight: 400;
font-style: 32px;
line-height: 1.34;
text-transform: uppercase;
min-width: 185px;  
margin-bottom: 20px; 
}

.about__textbox{
margin-bottom: 150px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.about__text{
flex-basis: 387px;
line-height: 1.2;
}

.about__text p{
margin-bottom: 15px;
}

.about__text--bold{
font-weight: 700;
}

.about__item-title{
margin-bottom: 20px;    
}

.about__slider{
width: 1600px;
padding-left: 200px;
margin-left: -200px;
padding-bottom: 20px;
}

.products{
margin-bottom: 150px;
}

.products__inner{
position: relative;
min-height: 647px;
}

.products__title{
font-family: "Playfair Display", serif;
line-height: 1.34;
font-size: 32px;
width: 100px;
}

.products__items{
display: flex;
gap:0 20px;
position: absolute;
top: 0;
align-items: center;
}

.products__item{
text-align: center;
}

.products__item-step{
text-transform: uppercase;
font-weight: 700;
opacity: 0,5;
margin-bottom: 20px;
}

.products__item-img{
margin-bottom: 20px;
}

.products__item-name{
margin-bottom: 10px;
}

.products__item-name span{
display: block;
font-weight: 700;
margin-bottom: 10px;
}

.products__item-price{
font-family: "Playfair Display", serif;
line-height: 1.34; 
font-size: 32px;
font-style: italic;
}

.footer{
background-color: greenyellow;
padding:66 0 100;
}

.footer__top{
margin-bottom: 70px;
display: flex;
gap: 0 70px;
justify-content: space-between;
}

.footer__item-tetle{
text-transform: uppercase;
margin-bottom: 10px;    
}

.footer__social-list{
margin-bottom: 10px;
align-self: flex-end;   
}

.footer__social-item + .footer__social-item{
margin-bottom: 20px;    
}

.footer__social-item path:hover{
fill: red;    
}

.footer__nav-list{
margin-left: auto;
display: flex;
gap: 0 20px;
}